<!DOCTYPE html>
<html>
<head>
    <title>Real time bulletin board</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/slate/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="bulletinboard">
<div class="container">
    <div class="page-header">
        <h1>Real time bulletin board
        <small>See <a href="https://github.com/gabalese/rt-board">gabalese/rt-board</a></small>
        </h1>
    </div>
</div>
<div class="container">
    <div ng-controller="messageList" style="height: 200px; overflow-y: auto;">
    <h4>Updates</h4>
    <ul>
        {% verbatim %}
        <li ng-repeat="message in messages | reverse">
            <a ng-href="messages/{{message.id}}">
            <span ng-bind="message.title"></span> by <strong ng-bind="message.author"></strong>
            <em>(<span ng-bind="message.time | time_ago"></span> ago)</em>
            </a>
            <span ng-show="(message.time | from_now) < 10" class="label label-success">NEW</span>
            <p ng-bind="message.text"></p>
        </li>
        {% endverbatim %}
    </ul>
    </div>
</div>
<div class="container">
    <div id="form" ng-controller="messageForm">
        <form class="form" method="POST" ng-submit="sendForm()">
            <div class="form-group">
                <label>Author <em>(optional)</em></label>
                <input type="text" class="form-control" ng-model="formData.author" placeholder="Anonymous"/>
                <label>Title</label>
                <input type="text" class="form-control" ng-model="formData.title" placeholder="Titolo">
                <label>Message</label>
                <textarea class="form-control" ng-model="formData.text" placeholder="Text"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit!</button>
        </form>
    </div>
</div>
</body>
<script>
    var app = angular.module('bulletinboard', []);

    function messageList($scope, $http){
        $scope.messages = [];
        $scope.lastOne = 0;
                (function update(){
                    $http.get('update/'+$scope.lastOne).success(function(data){
                        $scope.messages.push.apply($scope.messages, data);
                        $scope.lastOne = data[data.length-1].id;
                        update();
                    }).error(function(){
                        update();
                        }
                    );
                })();
    }

    function messageForm($scope, $http){
        $scope.formData = {};

        $scope.sendForm = function(){
            $http({
                method: "POST",
                url: "messages/",
                data: $.param($scope.formData),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            }).success(function(data){
                console.log(data);
            })
        }
    }

    app.filter('reverse', function() {
        return function(items) {
            return items.slice().reverse();
        };
    });

    app.filter('from_now', function(){
        return function(ts){
            var now = new Date();
            ts = new Date(ts * 1000);
            var delta = now.getTime() - ts.getTime();
            delta = delta / 1000;
            return delta
        }
    })

    app.filter('time_ago', function(){
        // I know, there are jquery filters for this, but I felt lazy:
        // http://stackoverflow.com/a/13323160
        return function(ts){
            var now = new Date();
            ts = new Date(ts * 1000);
            var delta = now.getTime() - ts.getTime();

            delta = delta / 1000; //us to s

            var ps, pm, ph, pd, min, hou, sec, days;

            if (delta <= 59) {
                ps = (delta > 1) ? "s" : "";
                return Math.round(delta) + " second" + ps
            }

            if (delta >= 60 && delta <= 3599) {
                min = Math.floor(delta / 60);
                pm = (min > 1) ? "s" : "";
                return min + " minute" + pm;
            }

            if (delta >= 3600 && delta <= 86399) {
                hou = Math.floor(delta / 3600);
                ph = (hou > 1) ? "s" : "";
                return hou + " hour" + ph;
            }

            if (delta >= 86400) {
                days = Math.floor(delta / 86400);
                pd = (days > 1) ? "s" : "";
                return days + " day" + pd;
            }
        }
    });
</script>
</html>
